.u-section-1 .u-sheet-1 {
  min-height: 719px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  margin: 50px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 50px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 578px;
  background-image: url("https://images.unsplash.com/photo-1493612276216-ee3925520721?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHwyfHxpZGVhfGVufDB8fHx8MTc2NjI2ODI1OHww&ixlib=rb-4.1.0&q=80&w=1080");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 548px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 345px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 320px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: -48px;
  margin-bottom: 40px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 316px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 23px 2px 0;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 23px 2px 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 87px;
  width: 87px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 23px 2px 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 261px;
    grid-gap: 30px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 600px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 577px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 1px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 57px auto 0 29px;
  padding: 8px 33px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 527px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 0 1px;
}

.u-section-3 .u-list-1 {
  width: 512px;
  margin: 35px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 274px;
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-3 .u-container-layout-3 {
  padding: 15px 10px 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 9px 20px 0 29px;
}

.u-section-3 .u-icon-1 {
  font-size: 2em;
}

.u-section-3 .u-list-item-2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-container-layout-4 {
  padding: 15px 10px 10px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 9px 20px 0 29px;
}

.u-section-3 .u-icon-2 {
  font-size: 2em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 42px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 476px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    --color-var: #f6c342;
    --hover-color-var: #f0b123;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 476px;
  }

  .u-section-3 .u-list-1 {
    width: 414px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 221px;
    grid-gap: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
    line-height: 1.4;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 708px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 1px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-list-1 {
    width: 304px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-4 {
    font-size: 1.8rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.8rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 512px;
}

.u-section-4 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 17px;
  margin-bottom: 39px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 375px;
  --gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 10px 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 10px 0;
}

.u-section-4 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 10px 0;
}

.u-section-4 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 309px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1044px;
}

.u-section-5 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  width: 636px;
  margin: 14px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 41px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 880px;
  --radius: 50px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-5 .u-text-3 {
  margin: 0 auto 0 15px;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 17px 0;
}

.u-section-5 .u-text-5 {
  margin: 19px 19px 0 15px;
}

.u-section-5 .u-text-6 {
  margin: 21px 22px 0 15px;
}

.u-section-5 .u-icon-1 {
  margin-right: 10px;
  font-size: 1.1112em;
  vertical-align: 0px;
}

.u-section-5 .u-line-1 {
  transform-origin: left center;
  margin: 21px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 19px 22px 0 15px;
}

.u-section-5 .u-icon-2 {
  margin-right: 10px;
  font-size: 1.1112em;
  vertical-align: 0px;
}

.u-section-5 .u-line-2 {
  transform-origin: left center;
  filter: none;
  margin: 20px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 21px 22px 0 15px;
}

.u-section-5 .u-icon-3 {
  margin-right: 10px;
  font-size: 1.1112em;
  vertical-align: 0px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  margin: 28px auto 0 15px;
}

.u-section-5 .u-text-9 {
  margin: 18px 21px 0 17px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 880px;
  --radius: 50px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-5 .u-text-10 {
  margin: 0 9px 0 16px;
}

.u-section-5 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 21px 16px 0;
}

.u-section-5 .u-text-12 {
  margin: 19px 15px 0;
}

.u-section-5 .u-text-13 {
  margin: 21px 16px 0 15px;
}

.u-section-5 .u-icon-4 {
  font-size: 1.1112em;
  margin-right: 10px;
  vertical-align: 0px;
}

.u-section-5 .u-line-3 {
  transform-origin: left center;
  margin: 20px 15px 0;
}

.u-section-5 .u-text-14 {
  margin: 19px 16px 0 15px;
}

.u-section-5 .u-icon-5 {
  font-size: 1.1112em;
  margin-right: 10px;
  vertical-align: 0px;
}

.u-section-5 .u-line-4 {
  transform-origin: left center;
  margin: 20px 15px 0;
}

.u-section-5 .u-text-15 {
  margin: 20px 16px 0 15px;
}

.u-section-5 .u-icon-6 {
  font-size: 1.1112em;
  margin-right: 10px;
  vertical-align: 0px;
}

.u-section-5 .u-line-5 {
  transform-origin: left center;
  margin: 20px 15px 0;
}

.u-section-5 .u-text-16 {
  margin: 20px 16px 0 15px;
}

.u-section-5 .u-icon-7 {
  font-size: 1.1112em;
  margin-right: 10px;
  vertical-align: -3px;
}

.u-section-5 .u-line-6 {
  transform-origin: left center;
  margin: 20px 15px 0;
}

.u-section-5 .u-text-17 {
  margin: 26px 16px 0 15px;
}

.u-section-5 .u-icon-8 {
  font-size: 1.1112em;
  margin-right: 10px;
  vertical-align: -3px;
}

.u-section-5 .u-btn-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 700;
  --radius: 50px;
  filter: none;
  margin: 17px auto 0 15px;
}

.u-section-5 .u-text-18 {
  margin: 19px 16px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 880px;
  --radius: 50px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-5 .u-text-19 {
  margin: 0;
}

.u-section-5 .u-text-20 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0 0;
}

.u-section-5 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-22 {
  margin: 21px 0 0;
}

.u-section-5 .u-icon-9 {
  font-size: 1.1112em;
  margin-right: 10px;
  vertical-align: 0px;
}

.u-section-5 .u-line-7 {
  transform-origin: left center;
  margin: 20px 0 0;
}

.u-section-5 .u-text-23 {
  margin: 19px 0 0;
}

.u-section-5 .u-icon-10 {
  font-size: 1.1112em;
  margin-right: 10px;
  vertical-align: 0px;
}

.u-section-5 .u-line-8 {
  transform-origin: left center;
  margin: 20px 0 0;
}

.u-section-5 .u-text-24 {
  margin: 19px 0 0;
}

.u-section-5 .u-icon-11 {
  font-size: 1.1112em;
  margin-right: 10px;
  vertical-align: 0px;
}

.u-section-5 .u-line-9 {
  transform-origin: left center;
  margin: 21px 0 0;
}

.u-section-5 .u-text-25 {
  margin: 20px 0 0;
}

.u-section-5 .u-icon-12 {
  font-size: 1.1112em;
  margin-right: 10px;
  vertical-align: -3px;
}

.u-section-5 .u-btn-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 700;
  --radius: 50px;
  filter: none;
  margin: 18px auto 0 0;
}

.u-section-5 .u-text-26 {
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 726px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    border-style: none;
    margin-left: 0;
  }

  .u-section-5 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 726px;
  }

  .u-section-5 .u-line-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-line-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-line-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-3 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 25px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 25px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 266px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -194px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 146px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 146px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: 20px 165px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 168px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px 20px 16px 19px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -125px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 120px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -366px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 140px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -187px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 88px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 458px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 459px;
}

.u-section-7 .u-container-layout-1 {
  padding: 19px 28px 27px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 2px;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0 2px;
}

.u-section-7 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 35px auto 0 2px;
  padding: 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: -41px 116px 0 70px;
}

.u-section-7 .u-text-4 {
  margin: 10px 1px 0 71px;
}

.u-section-7 .u-text-5 {
  margin: 8px 1px 0 71px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 458px;
}

.u-section-7 .u-container-layout-2 {
  padding: 13px 30px;
}

.u-section-7 .u-image-1 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-7 .u-text-4 {
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-7 .u-image-1 {
    height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: -41px;
    margin-right: 31px;
    margin-left: 69px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: 31px;
    margin-left: 69px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 43px;
    margin-right: 61px;
    margin-left: 68px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 665px;
  }

  .u-section-7 .u-image-1 {
    height: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 442px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-7 .u-text-4 {
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-7 .u-image-1 {
    height: 272px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 452px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 452px;
}

.u-section-8 .u-container-layout-1 {
  padding: 42px 30px 51px;
}

.u-section-8 .u-image-1 {
  margin-top: 31px;
  margin-bottom: 0;
  height: 285px;
}

.u-section-8 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 452px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 28px 30px;
}

.u-section-8 .u-form-1 {
  height: 317px;
  margin: 0 -60px 0 auto;
}

.u-section-8 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-form-group-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 45px;
    height: 226px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 89px;
    height: 161px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 0;
    height: 465px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    height: 286px;
  }
}